/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.descr_img {
		top: 41%!important;
	}
	.next_section {
		height: 80px!important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.main_section p {
		top: 55%!important;
	}
	.section_media h1 {
		top: 9%!important;
	}
	.section_media p {
		top: 13%!important;
	}
	.descr_section {
		top: 19%!important;
	}
	.descr_section p::after {
		width: 700px!important;
		margin-left: -350px!important;
	}
	.descr_img {
		top: 30%!important;
	}
	.descr_img img {
		width: 350px!important;
		height: 400px!important;
		margin: 0 2px 2px 0!important;
	}
	.img_wrap_cont {
		left: 2px!important;
		width: 350px!important;
		height: 350px!important;
	}
	.img_wrap_cont h4 {
		margin-top: 90px!important;
	}
	.img_wrap_cont p {
		margin-top: 150px!important;
	}
	.next_section {
		height: 100px!important;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.main_section p {
		top: 53%!important;
	}
	/*.section_media h1 {
		top: 9%!important;
	}
	.section_media p {
		top: 13%!important;
	}*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}