/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.main_section p {
		top: 55%!important;
	}
	.section_media h1 {
		top: 9%!important;
	}
	.section_media p {
		top: 13%!important;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.main_section p {
		top: 53%!important;
	}
	/*.section_media h1 {
		top: 9%!important;
	}
	.section_media p {
		top: 13%!important;
	}*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}